<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="css/magnific-popup.css")
		//-link(rel="stylesheet", href="http://dimsemenov-static.s3.amazonaws.com/dist/magnific-popup.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/scripts.js")
		title Amarrados / Vendedor
	body
		.bg
			.ed-container
				.ed-item.web-100
					.please
						img.resize(src="img/gire.svg", alt="")
						p Para una mejor experiencia gire su dispositivo en vertical
					.wrap
						.logo.no-logo
							a(href="index.html",title="Amarrados",alt="Amarrados")
								img(src="img/logo.png", alt="")
						.navegacion
							.nav-palomita
								img(name="palomita" src="img/palomita.png" width="416" height="507" id="palomita" usemap="#m_palomita" alt="")
								map#m_palomita(name='m_palomita')
									area(shape='poly', coords='332,331,333,345,333,353,304,360,263,361,242,364,222,364,196,366,170,368,144,372,130,372,127,362,133,358,128,342,143,342,160,341,178,341,200,340,219,337,237,336,257,336,294,334,313,332,326,332,332,331', href='#consulta',class="open-popup-link",data-effect="mfp-move-from-top" alt='')
									area(shape='poly', coords='300,274,316,309,293,316,276,315,251,316,240,319,212,321,193,320,167,320,151,322,138,323,140,314,145,307,147,292,156,285,170,286,186,286,201,286,214,285,230,283,254,282,268,281,290,279,300,274', href="#contacto",class="open-popup-link",data-effect="mfp-move-from-top",alt='')
									area(shape='poly', coords='320,231,324,242,325,255,325,262,254,270,215,269,180,270,157,272,132,276,124,264,128,246,138,237,153,236,178,236,207,236,236,235,260,233,290,232,307,233,320,231', href="#ganadores",class="open-popup-link",data-effect="mfp-move-from-top", alt='')
									area(shape='poly', coords='286,212,274,218,245,224,218,224,195,225,172,227,160,222,161,205,165,190,167,184,197,183,220,181,243,181,271,180,286,184,287,205,286,212', href='bases.html', alt='')
									area(shape='poly', coords='294,170,234,176,175,180,139,178,133,158,137,140,155,137,172,138,186,139,199,139,210,138,227,138,236,137,246,137,257,137,268,137,286,136,294,170', href="#test-popup",class="open-popup-link",data-effect="mfp-move-from-top", alt='')
									area(shape='poly', coords='153,88,148,129,194,132,233,131,276,126,283,112,264,90,225,80,153,88', href="#" alt='')
						.claim-foot
							img(src="img/ima-foot.png", alt="")
		#test-popup.white-popup.mfp-with-anim.mfp-hide
			.box-light
				.pres-log
					img(src="img/logo.png", alt="")
				.amarritas
					img(src="img/amarras.png", alt="")
				h1 Premios
				ul.data-premio
					li Primer Lugar $ 250.000
					li Segundo Lugar $50.000
					li Tercer lugar $25.500
				.billete-l
					img(src="img/billete-l.png", alt="")
		#contacto.white-popup.mfp-with-anim.mfp-hide
			.box-light
				.pres-log
					img(src="img/logo.png", alt="")
				.amarritas
					img(src="img/amarras.png", alt="")
				h1 Contacto
				p Tienes alguna duda o consulta, 
					span escríbenos
				form.contacto
					label(for="nombre") Tu nombre
					input(type="text", id="nombre")
					label(for="mail") Tu mail
					input(type="mail", id="mail", required)
					label(for="cuentame")  cuéntanos
					textarea(id="cuentame")
					input(type="submit", value="Enviar")
				.billete-l
					img(src="img/billete-l.png", alt="")
		#ganadores.white-popup.mfp-with-anim.mfp-hide
			.box-light
				.pres-log
					img(src="img/logo.png", alt="")
				//-.amarritas
					img(src="img/amarras.png", alt="")
				h1 Ganadores
				.ganadores
					table.pure-table.pure-table-horizontal
						thead
							tr
								th Nombre
								th Fecha
								th Premio
						tbody
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
							tr
								td Camilo Ogino
								td 21/03/2016
								td $250.000
				//- .billete-l
				//- 	img(src="img/billete-l.png", alt="")
		#consulta.white-popup.mfp-with-anim.mfp-hide
			.box-light
				.pres-log
					img(src="img/logo.png", alt="")
				.amarritas
					img(src="img/amarras.png", alt="")
				h1 Ver mis avances
				form#revisor
					fieldset
						label para revisar tu avance, ingresa tu RUT
						input(type="number", value="")
						input(type="submit", value="Revisar")
					//--este debe ir oculto
					fieldset.ocultar 
						label Tu meta mensual es de :
						input(type="text", value="10.000 pts.")
						label Hasta hoy tienes:
						input(type="text", value="1500 pts.")
				.billete-l
					img(src="img/billete-l.png", alt="")

	script(src='js/jquery.rwdImageMaps.js')
	script(src='http://dimsemenov-static.s3.amazonaws.com/dist/jquery.magnific-popup.min.js')


